.posts
  .post
    margin: 1em
    padding: .5em
    padding-bottom: 0
    border-left: 1px solid var(--border)

    &_title
      margin: 0.1em 0

      &_category
        font-size: .6em
        color: var(--variable)

    &_description
      color: var(--text-muted)
      padding-left: 1em
      border-left: 1px solid var(--border)
      font-size: .8em

    &_meta
      font-size: .7em
      color: var(--text-muted)

      &_modifiedAt
        &::before
          content: "Modified at: "
